doctype 5
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/components/jquery/dist/jquery.js')
    script(src='/js/knockout-3.1.0.js')
    script(src='/js/todos.js')

