doctype html5
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='icon', href='/img/todos.jpeg')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/jquery-ui/ui/jquery-ui.js')
    script(src='/components/jquery-ui/ui/jquery.ui.sortable.js')
    script(src='/components/knockoutjs/dist/knockout.js')
    script(src='/js/todos.js')

