html {
  height: 100%;
  pading: 10px;
}

#table_daily {
  width: 40%;
  margin-left: 10px;
  float: left;
}

#table_proj {
  width: 40%;
  margin-right: 10px;
  float: right;
}

.completed {
  text-decoration: line-through;
}

td:last-child {
  text-align: right;
}

h1, h2 {
  text-align: center;
}

.tools {
  width: 100%;
  margin: 0 10px;
  position: absolute;
  bottom: 0%;
}
