// HTML5 elements for non-supported browsers 
header, footer, section, article, aside, nav, hgroup {
  display: block;
}

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

// flex direction
@mixin direction($dir) {
  -webkit-flex-direction: $dir;
  -moz-flex-direction: $dir;
  -ms-flex-direction: $dir;
}

@media (max-width: 767px) {
  .wrapper {
    @include direction(column);
  } 
}

// flex grow
@mixin expand($ratio) {
  -webkit-flex-grow: $ratio;
  -moz-flex-grow: $ratio;
  -ms-flex-grow: $ratio;
}

.list {
  @include expand(1);
}

body {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}

h1 {
  font-family: cursive, sans-serif;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

td:last-child {
  text-align: right;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 0px;
}

footer {
  div {
    margin-left: -50%;
  }
}
